@charset "utf-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
}

html {
    font-size: 62.5%;
    height: 100%;
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 94%!important
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 109%!important
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 125%!important
    }
    body {
        max-width: 640px
    }
}

body {
    font-size: 1.2rem;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: #ffffff;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input,
select,
textarea,
div {
    outline: 0;
    -webkit-box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

li,
ol,
ul {
    list-style: none
}

b,
strong {
    font-weight: 700
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-touch-callout: none
}

:focus {
    outline: 0
}

a {
    color: #333;
    text-decoration: none
}

a.active {
    color: #06c
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}


/*清浮动*/

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}


/*加载图标*/

.loadding-icon:before {}

input {
    outline: 0;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none
}

input:focus,
textarea:focus {
    outline: 0;
    border: 1px solid #009DD9
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.vm {
    vertical-align: middle
}

.vb {
    vertical-align: bottom;
}

.block {
    display: block!important
}

.inline {
    display: inline-block!important;
}

.bold {
    font-weight: 700
}

.hide {
    display: none!important
}

.main {
    width: 100%;
    height: 100%;
}


/* 单行省略 */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 多行省略 */

.ellipsis-2l {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 数值代表显示几行 */
    -webkit-box-orient: vertical;
}


/*显示flex*/

.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/*水平垂直居中*/

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grey {
    background-color: #EFEFF4;
    color: #A09EAF;
}

.red-txt {
    color: red;
}

.full {
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #009DD9;
    text-align: center;
    border-radius: .2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    padding: .5rem;
    width: 90%;
    margin: 1rem auto;
    display: block;
}


/*正在加载*/

.loading-box {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.loading-box .loading-content {
    width: 12rem;
    height: 12rem;
    background: #000000;
    opacity: 0.6;
    border-radius: 1rem;
    text-align: center;
}

.loading-box .loading-content img {
    width: 3.5rem;
    margin: 2.5rem 0 .2rem 0;
}

.loading-box .loading-content div {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 1.5rem;
}


/*正在加载页面*/

#loadingPage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*日历样式*/

#datePlugin {
    position: absolute;
    top: 10rem;
    right: 4rem;
}

.active-detail #datePlugin {
    top: 7rem;
}

.calendar-content {
    position: relative;
    background: #ffffff;
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.7);
    width: 28rem;
    border-radius: 1rem;
    color: #333333;
    font-size: 1.3rem;
    top: 2rem;
    font-size: 2rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    z-index: 999;
}

.calendar-content > img {
    position: absolute;
    top: -1.4rem;
    width: 10%;
    left: 22rem;
}

.require-box .calendar-content > img {
    top: -2rem;
}

.calendar-content .selected-content {
    padding: 1rem 0;
}

.calendar-content .calendar-list,
.calendar-content .selected-content,
.calendar-content .calendar-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.calendar-content .selected-content > p {
    position: relative;
}

.calendar-content .calendar-list >div,
.calendar-content .selected-content > div,
.calendar-content .calendar-foot > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.calendar-content .selected-content > div > div {
    color: #2a97ff;
    position: relative;
}

.calendar-content .selected-content > div > span {
    color: #8c8c8c;
    font-size: 1.3rem;
}

.calendar-content .calendar-list {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 0 1rem;
    height: 10.5rem;
    overflow: hidden;
}

.calendar-content .calendar-list li {
    height: 3.5rem;
    font-size: 1.6rem;
    line-height: 3.5rem;
}

.calendar-content .calendar-list li.cur {
    color: #2a97ff;
    font-weight: bold;
}

.calendar-content .calendar-foot > div:first-child {
    border-right: 1px solid #cccccc;
}

.calendar-content .calendar-foot > div:last-child {
    color: #2a97ff;
}

.calendar-content .calendar-foot > div {
    line-height: 3rem;
    font-size: 1.7rem;
}

.calendar-content .selected-content > div.cur > div:before {
    content: "";
    background-image: url("image/orange-right.png");
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.calendar-content .selected-content div.cur > div:after {
    content: "";
    background-image: url("image/orange-left.png");
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}
