@charset "utf-8";
/*关于页面*/
.about-header{
	height: 4.3rem;
	padding: .7rem 1rem;
}
.about-header .logo{
	width: 4rem;
}
.about-header .content{
	margin-left: 1rem;
	line-height: 2rem;
}
.about-header h1{
	color: #272727;
}
.about-header h2{
	color: #9794A8;
}

.about-tel h3, .about-vip h3{
	height: 3.2rem;
	padding-left: 1rem;
	line-height: 3.2rem;
}
.about-tel > div{
	height: 6.2rem;
    padding: .5rem 2rem;
    line-height: 3.1rem;
}
.about-tel > div .pull-left{
	font-size: 1.5rem;
	font-weight: bolder;
}
.about-tel > div .pull-right{
	color: #1582DC;
    font-size: 1.5rem;
    font-weight: bolder;
}
.about-vip p{
	padding: .6rem 2rem;
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 500;
}
.about-vip p > span{
	display: block;
}
.about-vip p span:nth-child(2){
	margin: .5rem 0;
}
.about-vip > div{
	text-align: center;
	margin-top: 2rem;
}
.about-vip input{
	width: 90%;
    height: 2.5rem;
    padding: .4rem 0;
    font-size: 1.5rem;
    color: #333;
}
/*选择角色页面*/
.center-box{
    margin: 7.5rem 2rem;
}
.role-box p{
	border: 1px solid #EFEFF4;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}

/*选择行业页面*/
.industry-btn{
	font-size: 1rem;
	padding: .5rem;
    width: 45%;
    margin: .5rem auto;
    display: inline-block;
}
.industry-btn:first-of-type{
	margin-top: 2.5rem;
}

/*签到页面*/

.picture-box{
	border-bottom: 1px solid #ccc;
}
.picture-box img{
	width: 7rem;
}
.picture-box > div, .picture-box > h3, .orientation-box > div, .orientation-box > h3{
	margin: 1rem;
}
.orientation-box img{
	width: 5rem;
}
.orientation-box p:first-of-type{
	margin-bottom: 2.3rem;
	font-size: 1.5rem;
    font-weight: 600;
}
.orientation-box p:last-of-type{
	font-size: 1.3rem;
    color: #ccc;
}
.orientation-box .pull-right{
	color: #03A9F4;
	margin-top: 3.5rem;
    font-size: 1.5rem;
}
.orientation-box .btn{
	display: inline-block;
	width: 49%;
	font-size: 1rem;
}

/**增加终端页面*/
.addterminal-box{
	color: #333333;
	font-size: 1.6rem;
	margin: 2rem;
}
.addterminal-box li{
	position: relative;
    height: 3rem;
    line-height: 2rem;
    margin-bottom: 1.7rem;
}
.addterminal-box li > label{
	width: 9.5rem;
    display: inline-block;
    border-right: .1rem solid #b3b3b3;
    position: absolute;
}
.addterminal-box li > label > i{
	margin: .5rem;
}
.addterminal-box input, .addterminal-box select{
	padding-left: 11rem;
	border: 0;
	border-bottom: .1rem solid #cccccc;
	height: 100%;
	width: 100%;
	padding-bottom: 1rem;
	font-size: 1.6rem;
}
.addterminal-box select{
	padding-right: 1.5rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("image/select.png") no-repeat scroll right center transparent;
	background-size: 1.5rem 1rem;
}
.addterminal-box select > option{
	text-indent: 2rem;
}
.addterminal-box li.orientation{
	height: 12rem;
    margin-left: -1rem;
    border-bottom: 1px solid #cccccc;
}

