<div class="active-detail" func="activedetail">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png" /></label>
                <input type="text" placeholder="搜索" />
            </div>
        </div>
    </header>
    <div class="require-box">
        <ul>
            <li class="dropdown-box">
                <span class="icon"><img src="assets/css/image/category.png"></span>
                <span>活跃度类型</span>
                <span class="icon"><img src="assets/css/image/pulldown.png"></span>
            </li>
            <li class="calendar-box">
                <span class="icon"><img src="assets/css/image/date.png"></span>
                <span id="curMonth">9月份</span>
                <span class="icon"><img src="assets/css/image/pulldown.png"></span>
            </li>
        </ul>
        <div class="drop-list hide">
            <ul>
                <span><img src="assets/css/image/triangle.png"></span>
                <li>
                    <span class="pull-left">从未下单</span>
                </li>
                <li>
                    <span class="pull-left">下单1次</span>
                </li>
                <li>
                    <span class="pull-left">下单超过1次</span>
                </li>
            </ul>
        </div>
    </div>
    <ul>
        <li>
            <img src="assets/css/image/static_terminal.png" />
            <div>
                <h4>壹加壹便利店</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span class="cur-location">暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>下单次数: 10次</span>&nbsp;&nbsp;
                    <span>订单总额: 5000元</span>
                </p>
            </div>
        </li>
        <li>
            <img src="assets/css/image/new_terminal.png" />
            <div>
                <h4>佳福商场</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span class="cur-location">暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>下单次数: 10次</span>&nbsp;&nbsp;
                    <span>订单总额: 5000元</span>
                </p>
            </div>
        </li>
    </ul>
</div>
