<div class="active-detail">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png" /></label>
                <input type="text" placeholder="搜索" />
            </div>
        </div>
    </header>
    <div class="require-box">
        <ul>
            <li class="dropdown-box">
                <span class="icon"><img src="assets/css/image/category.png"></span>
                <span>活跃度类型</span>
                <span class="icon"><img src="assets/css/image/pulldown.png"></span>
            </li>
            <li class="calendar-box">
                <span class="icon"><img src="assets/css/image/date.png"></span>
                <span>9月份</span>
                <span class="icon"><img src="assets/css/image/pulldown.png"></span>
            </li>
        </ul>
        <div class="drop-list hide">
            <ul>
                <span><img src="assets/css/image/triangle.png"></span>
                <li>
                    <span class="pull-left">活跃度类型1</span>
                </li>
                <li>
                    <span class="pull-left">活跃度类型2</span>
                </li>
                <li>
                    <span class="pull-left">活跃度类型3</span>
                </li>
            </ul>
        </div>
    </div>
    <ul>
        <li>
            <img src="assets/css/image/static_terminal.png" />
            <div>
                <h4>芙蓉兴盛</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span>暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>上次拜访时间：2016-03-22</span>
                </p>
            </div>
        </li>
        <li>
            <img src="assets/css/image/new_terminal.png" />
            <div>
                <h4>广百百货</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span>暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>上次拜访时间：2016-03-22</span>
                </p>
            </div>
        </li>
        <li>
            <img src="assets/css/image/active_terminal.png" />
            <div>
                <h4>沃尔玛</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span>暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>上次拜访时间：2016-03-22</span>
                </p>
            </div>
        </li>
        <li>
            <img src="assets/css/image/potential_terminal.png" />
            <div>
                <h4>瑞士宜家</h4>
                <p>
                    <img src="assets/css/image/map_white.png">
                    <span>暂无地址</span>
                </p>
                <p>
                    <img src="assets/css/image/time.png">
                    <span>上次拜访时间：2016-03-22</span>
                </p>
            </div>
        </li>
    </ul>
</div>
