<ul class="simple-list promotion-list">
    <li>
        <div>
            <h4>
                <span>五一促销</span>
                <span class="pink flag">买赠</span>
            </h4>
            <p>从五一开始所有终端全面投入促销</p>
            <p>2015-09-17 至 2015-09-30</p>
        </div>
        <div>
            <span>23家</span>
            <img src="assets/css/image/select.png" />
        </div>
    </li>
    <li>
        <div>
            <h4>
                <span>五一促销</span>
                <span class="peakgreen flag">积分</span>
            </h4>
            <p>从五一开始所有终端全面投入促销</p>
            <p>2015-09-17 至 2015-09-30</p>
        </div>
        <div>
            <span>23家</span>
            <img class="img-up" src="assets/css/image/select.png" />
        </div>
    </li>
    <div class="unfold">
        <ul>
            <li>
                <h4>投放种类</h4>
                <h4>品类</h4>
            </li>
            <li>
                <p>沃尔玛</p>
                <p>水</p>
            </li>
            <li>
                <h4>促销方案(规格)</h4>
                <p>从17号开始所有终端全面投入促销</p>
            </li>
            <li>
                <h4>促销方案(规格)</h4>
                <p>各位加油</p>
            </li>
            <li>
                <a href="#/view/yzj/salesman/performance/relateterminal">
                    <h4>关联终端(22家)</h4>
                    <span><img class="img-right" src="assets/css/image/select.png" /></span>
                </a>
            </li>
        </ul>
    </div>
    <li>
        <div>
            <h4>
                <span>五一促销</span>
                <span class="pink flag">买赠</span>
            </h4>
            <p>从五一开始所有终端全面投入促销</p>
            <p>2015-09-17 至 2015-09-30</p>
        </div>
        <div>
            <span>23家</span>
            <img src="assets/css/image/select.png" />
        </div>
    </li>
</ul>
