<ul class="simple-list promotion-list" func="mypromotion">
    <li>
        <div>
            <h4>
                <span>中国风专题陈列</span>
                <span class="pink flag">陈列</span>
            </h4>
            <p>从2016年1月1号开始，所有终端进行中国风专题陈列</p>
            <p>2016-01-01 至 2018-01-01</p>
        </div>
        <div>
            <span>2家</span>
            <img class="img-up un-fold" src="assets/css/image/select.png" />
        </div>
    </li>
    <div class="unfold hide">
        <ul>
            <li>
                <h4>投放品牌</h4>
                <h4>玄娃</h4>
            </li>
            <li>
                <h4>促销方案(规格)</h4>
                <p>从2016年1月1号开始，所有终端进行中国风专题陈列</p>
            </li>
            <li>
                <a href="#/view/yzj/salesman/performance/relateterminal">
                    <h4>关联终端(2家)</h4>
                    <span><img class="img-right" src="assets/css/image/select.png" /></span>
                </a>
            </li>
        </ul>
    </div>
</ul>
