<div func="rank" class="rank-box">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png" /></label>
                <input type="text" placeholder="搜索" />
            </div>
            <div>
            </div>
        </div>
    </header>
    <main>
        <ul class="tab-box">
            <li class="cur">
                <span>今日排行:</span>
                <span>6</span>
            </li>
            <li>
                <span>昨日排行:</span>
                <span>3</span>
            </li>
            <li>
                <span>本月排行:</span>
                <span>5</span>
            </li>
        </ul>
        <div>
            <img src="assets/css/image/rank_today.png" />
            <img class="hide" src="assets/css/image/rank_yest.png" />
            <img class="hide" src="assets/css/image/rank_month.png" />
        </div>
    </main>
</div>
