<div func="salesvolumn" class="salesvolumn-box">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png" /></label>
                <input type="text" placeholder="搜索" />
            </div>
            <div>
            </div>
        </div>
    </header>
    <div class="require-box">
        <ul>
            <li class="dropdown-box">
                <span class="icon"><img src="assets/css/image/category.png" /></span>
                <span>已确认(1)</span>
                <span class="icon"><img src="assets/css/image/pulldown.png" /></span>
            </li>
            <li class="calendar-box">
                <span class="icon"><img src="assets/css/image/date.png" /></span>
                <span>9月份</span>
                <span class="icon"><img src="assets/css/image/pulldown.png" /></span>
            </li>
        </ul>
        <div class="drop-list hide">
            <ul>
                <span><img src="assets/css/image/triangle.png" /></span>
                <li>
                    <span class="pull-left">待确认</span>
                </li>
                <li>
                    <span class="pull-left">待发货</span>
                </li>
                <li>
                    <span class="pull-left">全部发货</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="orderlist-box">
        <div>2015-09-17</div>
        <ul class="order-header">
            <li>终端名称</li>
            <li>产品名称</li>
            <li>订单量</li>
            <li>单价(元)</li>
            <li>总额(元)</li>
            <li>状态</li>
        </ul>
        <ul class="order-content">
            <li>
                <ul>
                    <li>家乐福1</li>
                    <li>红牛</li>
                    <li>512箱</li>
                    <li>5.00</li>
                    <li>657.00</li>
                    <li>待确认</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>家乐福1</li>
                    <li>红牛</li>
                    <li>512箱</li>
                    <li>5.00</li>
                    <li>657.00</li>
                    <li>待确认</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
