<div class="visitstep-box">
    <nav>
        <ul>
            <li class="cur">
                <h3>店铺到达</h3></li>
            <li>
                <h3>终端信息</h3></li>
            <li>
                <h3>生动化检查</h3></li>
            <li>
                <h3>产品铺货</h3></li>
            <li>
                <h3>订单管理</h3></li>
            <li>
                <h3>促销执行</h3></li>
            <li>
                <h3>资产巡检</h3></li>
            <li>
                <h3>竞品管理</h3></li>
            <li>
                <h3>拜访小结</h3></li>
        </ul>
        <hr />
    </nav>
    <main>
        <!-- 店铺到达 -->
        <div class="arrive-store">
            <ul>
                <li>
                    <div>
                        <h4>拍照上传</h4>
                        <i class="red-txt">*</i>
                    </div>
                    <img src="assets/css/image/addimg.png" />
                </li>
                <li>
                    <h4>上次拜访小结</h4>
                    <p>增加红牛功能饮料铺货、增加711便利店冰柜</p>
                </li>
                <li>
                    <h4>促销活动</h4>
                    <p>618节活动</p>
                </li>
            </ul>
        </div>
        <!-- 终端信息 -->
        <div class="hide">
        </div>
        <!-- 生动化检查 -->
        <div class="hide">
        </div>
        <!-- 产品铺货 -->
        <div class="hide">
        </div>
        <!-- 订单管理 -->
        <div class="hide">
        </div>
        <!-- 促销执行 -->
        <div class="hide">
        </div>
        <!-- 资产巡检 -->
        <div class="hide">
        </div>
        <!-- 竞品管理 -->
        <div class="hide">
        </div>
        <!-- 拜访小结 -->
        <div class="hide">
        </div>
    </main>
</div>
