<ul class="simple-list visit-review" func="visitreview">
    <li>
        <div>
            <h4>壹加壹便利店</h4>
            <p>注意陈列拜访</p>
        </div>
        <div><span class="cur-time">2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>佳福商场</h4>
            <p>下次拜访需要下单</p>
        </div>
        <div><span class="cur-time">2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>欧德利便利店</h4>
            <p>下次拜访需带2箱雨伞作为赠品</p>
        </div>
        <div><span class="cur-time">2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>兴盛超市</h4>
            <p>下次拜访需带促销海报</p>
        </div>
        <div><span class="cur-time">2015-12-21</span></div>
    </li>
</ul>
