<div class="visit-box">
    <nav>
        <ul>
            <li>
                <a href="#/view/yzj/salesman/work/myterminal">
                    <div><img src="assets/css/image/outline_visit.png" /></div>
                    <div>线外拜访</div>
                </a>
            </li>
            <li>
                <a href="#/view/yzj/salesman/work/addterminal">
                    <div><img src="assets/css/image/add_terminal.png" /></div>
                    <div>新增终端</div>
                </a>
            </li>
            <li>
                <a href="#/view/yzj/salesman/performance/visitreview">
                    <div><img src="assets/css/image/visit_review.png" /></div>
                    <div>拜访回顾</div>
                </a>
            </li>
        </ul>
    </nav>
    <div class="terminal-box">
        <ul class="terminal-list">
            <li>
                <a class="cf" href="#/view/yzj/salesman/performance/visitstep">
                    <div class="pull-left">
                        <p><span>芙蓉兴盛</span><span class="tradition">传统</span><span class="promotion">促销</span></p>
                        <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                        <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                    </div>
                    <div class="pull-right">
                        <p>
                            <span><img src="assets/css/image/location.png" /></span>
                            <span>87m</span>
                        </p>
                        <p class="doing">拜访中</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cf" href="#/view/yzj/salesman/performance/visitstep">
                    <div class="pull-left">
                        <p><span>广百百货</span><span class="modern">现代</span><span class="market">商超</span></p>
                        <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                        <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                    </div>
                    <div class="pull-right">
                        <p>
                            <span><img src="assets/css/image/location.png" /></span>
                            <span>87m</span>
                        </p>
                        <p class="undo">未拜访</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="cf" href="#/view/yzj/salesman/performance/visitstep">
                    <div class="pull-left">
                        <p>签约二批-终端</p>
                        <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                        <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                    </div>
                    <div class="pull-right">
                        <p>
                            <span><img src="assets/css/image/location.png" /></span>
                            <span>87m</span>
                        </p>
                        <p class="done">已拜访</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
