<div class="visitstep-box" func="visitstep">
    <nav id="visitstepNav">
        <ul>
            <li class="cur">
                <h3>店铺到达</h3>
            </li>
            <li>
                <h3>终端信息</h3></li>
            <li>
                <h3>生动化检查</h3></li>
            <li>
                <h3>产品铺货</h3></li>
            <li>
                <h3>订单管理</h3></li>
            <li>
                <h3>促销执行</h3></li>
            <li>
                <h3>资产巡检</h3></li>
            <li>
                <h3>竞品管理</h3></li>
            <li>
                <h3>拜访小结</h3></li>
        </ul>
    </nav>
    <main>
        <!-- 店铺到达 -->
        <div class="visit-content arrive-store">
            <ul>
                <li>
                    <div>
                        <h4>拍照上传</h4>
                        <i class="red-txt">*</i>
                    </div>
                    <img class="take-pics" src="assets/css/image/addimg.png" />
                </li>
                <li>
                    <h4>上次拜访小结</h4>
                    <p>增加红牛功能饮料铺货、增加711便利店冰柜</p>
                </li>
                <li>
                    <h4>促销活动</h4>
                    <p>618节活动</p>
                </li>
            </ul>
        </div>
        <!-- 终端信息 -->
        <div class="hide visit-content">
            <div class="addterminal-box" func="addterminal">
                <ul>
                    <li>
                        <label>
                            终端名称
                            <i class="red-txt">*</i>
                        </label>
                        <input placeholder="请输入" value="壹加壹便利店" readonly />
                        <span class="lock-icon"><img src="assets/css/image/lock.png" /></span>
                    </li>
                    <li>
                        <label>
                            终端级别
                            <i class="red-txt">*</i>
                        </label>
                        <select>
                            <option>金</option>
                            <option>银</option>
                            <option>钻</option>
                        </select>
                    </li>
                    <li>
                        <label>
                            终端类型
                            <i class="red-txt">*</i>
                        </label>
                        <select>
                            <option>现代</option>
                            <option>传统</option>
                            <option>特渠</option>
                        </select>
                    </li>
                    <li>
                        <label>
                            联系电话
                            <i class="red-txt">*</i>
                        </label>
                        <input placeholder="请输入" value="15000000000" />
                    </li>
                    <li>
                        <label>
                            联系人
                            <i class="red-txt">*</i>
                        </label>
                        <input placeholder="请输入" value="王依依" />
                    </li>
                    <li class="address">
                        <label>
                            地址
                            <i class="red-txt">*</i>
                        </label>
                        <textarea rows="2" id="visitLocation">
                            广东省广州市天河区天河路维多利亚广场B塔33楼快消产品部
                        </textarea>
                    </li>
                    <li>
                        <label>
                            传真
                        </label>
                        <input placeholder="请输入" />
                    </li>
                    <li>
                        <label>
                            备注
                        </label>
                        <input placeholder="请输入" />
                    </li>
                </ul>
            </div>
        </div>
        <!-- 生动化检查 -->
        <div class="hide visit-content check-store">
            <ul>
                <li>
                    <div>
                        <h4>客户冰柜照片</h4>
                    </div>
                    <img class="take-pics" src="assets/css/image/addimg.png" />
                </li>
                <li>
                    <div>
                        <h4>货架陈列照片</h4>
                    </div>
                    <img class="take-pics" src="assets/css/image/addimg.png" />
                </li>
                <li>
                    <div>
                        <h4>堆箱陈列</h4>
                    </div>
                    <img class="take-pics" src="assets/css/image/addimg.png" />
                </li>
                <li>
                    <div>
                        <h4>广告</h4>
                    </div>
                    <img class="take-pics" src="assets/css/image/addimg.png" />
                </li>
                <li class="input-box">
                    <label>
                        POP拍照
                    </label>
                    <input placeholder="请输入" />
                </li>
                <li class="input-box">
                    <label>
                        PVC拍照
                    </label>
                    <input placeholder="请输入" />
                </li>
                <li class="input-box">
                    <label>
                        冰柜陈列占比
                    </label>
                    <input placeholder="请输入" />
                </li>
                <li class="input-box">
                    <label>
                        海报数量
                    </label>
                    <input placeholder="请输入" />
                </li>
                <li class="input-box">
                    <label>
                        备注
                    </label>
                    <input placeholder="请输入" />
                </li>
            </ul>
        </div>
        <!-- 产品铺货 -->
        <div class="hide visit-content distribute-box fold-box">
            <div class="search-wrap">
                <div class="search-box">
                    <label><img src="assets/css/image/search.png"></label>
                    <input type="text" placeholder="搜索">
                    <span id="qrcodeBox"><img src="assets/css/image/qrcode.png" /></span>
                </div>
                <div>
                </div>
            </div>
            <div>
                <ul id="distributeContent"></ul>
            </div>
        </div>
        <!-- 订单管理 -->
        <div class="hide visit-content order-manage fold-box">
            <div class="search-wrap">
                <div class="search-box">
                    <label><img src="assets/css/image/search.png"></label>
                    <input type="text" placeholder="搜索">
                </div>
            </div>
            <div>
                <ul id="orderManageContent">
                </ul>
            </div>
        </div>
        <!-- 促销执行 -->
        <div class="hide visit-content distribute-box fold-box promotion-box">
            <div class="search-wrap">
                <div class="search-box">
                    <label><img src="assets/css/image/search.png"></label>
                    <input type="text" placeholder="搜索">
                </div>
                <div>
                </div>
            </div>
            <div>
                <ul id="promotionContent">
                    <li>
                        <span class="triangle-right promotion-fold"><img src="assets/css/image/triangle-right.png" /></span>
                        <span>促销0809</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 资产巡检 -->
        <div class="hide visit-content distribute-box fold-box check-property">
            <div class="search-wrap">
                <div class="search-box">
                    <label><img src="assets/css/image/search.png"></label>
                    <input type="text" placeholder="搜索">
                </div>
            </div>
            <div>
                <ul id="propertyContent">
                    <li>
                        <span class="triangle-right property-fold"><img src="assets/css/image/triangle-right.png" /></span>
                        <span>初始资产</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 竞品管理 -->
        <div class="hide visit-content fold-box distribute-box opponent-box">
            <div class="search-wrap">
                <div class="search-box">
                    <label><img src="assets/css/image/search.png"></label>
                    <input type="text" placeholder="搜索">
                </div>
            </div>
            <div>
                <ul id="opponentContent"></ul>
            </div>
        </div>
        <!-- 拜访小结 -->
        <div class="hide visit-content visit-summary">
            <div>拜访小结:</div>
            <textarea rows="8" cols="45">请输入</textarea>
        </div>
    </main>
</div>
