<ul class="simple-list">
    <li>
        <div>
            <h4>芙蓉兴盛</h4>
            <p>注意陈列拜访</p>
        </div>
        <div><span>2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>711便利店</h4>
            <p>下次拜访需要下单</p>
        </div>
        <div><span>2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>欧德利便利店</h4>
            <p>及时补货</p>
        </div>
        <div><span>2015-12-21</span></div>
    </li>
    <li>
        <div>
            <h4>天河万达广场</h4>
            <p>需要陈列拍照</p>
        </div>
        <div><span>2015-12-21</span></div>
    </li>
</ul>
