<div class="coop_invest relate_store">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png"></label>
                <input type="text" placeholder="搜索">
            </div>
            <div>
            </div>
        </div>
    </header>
    <ul>
        <li>
            <a href="#/view/yzj/charger/work/check_detail?type=1">
                <span>主管账号</span>
                <span><img class="img-right" src="assets/css/image/select.png" /></span>
            </a>
        </li>
        <li>
            <a href="#/view/yzj/charger/work/check_detail?type=2">
                <span>业务员账号</span>
                <span><img class="img-right" src="assets/css/image/select.png" /></span>
            </a>
        </li>
    </ul>
</div>
