<div class="check_detail">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png"></label>
                <input type="text" placeholder="搜索">
            </div>
            <div>
            </div>
        </div>
    </header>
    <div class="visit-content check-store">
        <ul>
            <li class="input-box">
                <label>
                    姓名
                </label>
                <input placeholder="请输入">
            </li>
            <li class="input-box">
                <label>
                    正常出勤(天)
                </label>
                <input placeholder="请输入">
            </li>
            <li class="input-box">
                <label>
                    请假(天)
                </label>
                <input placeholder="请输入">
            </li>
            <li class="input-box">
                <label>
                    出勤(天)
                </label>
                <input placeholder="请输入">
            </li>
            <li class="input-box">
                <label>
                    迟到早退(次)
                </label>
                <input placeholder="请输入">
            </li>
        </ul>
    </div>
    <div class="orderlist-box">
        <ul class="order-header">
            <li>日期</li>
            <li>上班</li>
            <li>下班</li>
            <li>其他</li>
        </ul>
        <ul class="order-content">
            <li>
                <ul>
                    <li>家乐福1</li>
                    <li>红牛</li>
                    <li>512箱</li>
                    <li>5.00</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>家乐福1</li>
                    <li>红牛</li>
                    <li>512箱</li>
                    <li>5.00</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
