<!--协查-->
<div class="coop_invest coop_visit" func="coopInvest">
    <ul>
        <li>
            <span>终端业务员1</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
        <li>
            <span>终端业务员2</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
        <li>
            <span>终端业务员3</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
    </ul>
</div>
<!--业代关联门店-->
<div class="coop_invest relate_store hide">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png"></label>
                <input type="text" placeholder="搜索">
            </div>
            <div>
            </div>
        </div>
    </header>
    <ul>
        <li>
            <span>好又多</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
        <li>
            <span>家乐福</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
        <li>
            <span>711</span>
            <span><img class="img-right" src="assets/css/image/select.png" /></span>
        </li>
    </ul>
</div>
<!--店头照-->
<div class="visitstep-box store-pic hide">
    <div class="visit-content arrive-store">
        <ul>
            <li>
                <div>
                    <h4>拍照上传</h4>
                    <i class="red-txt">*</i>
                </div>
                <img class="take-pics" src="assets/css/image/addimg.png">
            </li>
            <li>
                <h4>业代上次小结</h4>
                <p>注意陈列拜访</p>
            </li>
        </ul>
        <div class="next_step">下一步</div>
    </div>
</div>
<!--拜访评估-->
<div class="visit_assess hide">
    <div class="addterminal-box">
        <ul>
            <li>
                <label>
                    准备工作
                    <i class="red-txt">*</i>
                </label>
                <select>
                    <option>请选择</option>
                    <option>良好</option>
                    <option>一般</option>
                    <option>差</option>
                </select>
            </li>
            <li>
                <label>
                    客情
                    <i class="red-txt">*</i>
                </label>
                <select>
                    <option>请选择</option>
                    <option>良好</option>
                    <option>一般</option>
                    <option>差</option>
                </select>
            </li>
            <li>
                <label>
                    生动化
                    <i class="red-txt">*</i>
                </label>
                <select>
                    <option>请选择</option>
                    <option>良好</option>
                    <option>一般</option>
                    <option>差</option>
                </select>
            </li>
            <li>
                <label>
                    销售陈述
                    <i class="red-txt">*</i>
                </label>
                <select>
                    <option>请选择</option>
                    <option>良好</option>
                    <option>一般</option>
                    <option>差</option>
                </select>
            </li>
            <li class="longer_label">
                <label>
                    本品相对竞品
                    <i class="red-txt">*</i>
                </label>
                <select>
                    <option>请选择</option>
                    <option>良好</option>
                    <option>一般</option>
                    <option>差</option>
                </select>
            </li>
            <li class="take_pic">
                <div>
                    <h4>拍照</h4>
                </div>
                <img class="take-pics" src="assets/css/image/addimg.png">
            </li>
            <li>
                <label>
                    总结
                </label>
                <input placeholder="请输入">
            </li>
        </ul>
        <div class="next_step">提交</div>
    </div>
</div>
