<ul class="feature-box" func="featurelist">
    <li>
        <a href="#/view/yzj/charger/work/coop_invest">
            <img src="assets/css/image/teamvisit.png" />
            <div>
                <h4>协访</h4>
                <p>查看业务员的拜访路线，快速开始工作</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/work/terminal?type=1">
            <img src="assets/css/image/service_agent_location.png" />
            <div>
                <h4>业代位置查询</h4>
                <p>查看业务员最新位置，随时开始协访工作</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/charger/work/agent_check">
            <img src="assets/css/image/service_agent_check.png" />
            <div>
                <h4>业代考勤查询</h4>
                <p>查看每天拜访路线</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/performance/salesvolumn">
            <img src="assets/css/image/order_search.png" />
            <div>
                <h4>订单查询</h4>
                <p>查看业务员提交的订单，实时跟踪订单状态</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/performance/mypromotion">
            <img src="assets/css/image/promotion_search.png" />
            <div>
                <h4>促销查询</h4>
                <p>查看业务员促销执行情况</p>
            </div>
        </a>
    </li>
</ul>
<footer class="feature-foot">
    <div>
        <a href="javascript:void(0);" class="work-foot cur">
            <img src="assets/css/image/work_blue.png" />
            <h5>工作</h5>
        </a>
        <a href="#/view/yzj/charger/performance/chargerlist">
            <img src="assets/css/image/performance.png" />
            <h5>业绩</h5>
        </a>
    </div>
</footer>
