<div class="addterminal-box" func="addterminal">
    <ul>
        <li>
            <label>
                条形码
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
            <span class="qrcode-box" id="qrcodeBox"><img src="assets/css/image/qrcode.png" /></span>
        </li>
        <li>
            <label>
                终端名称
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
        </li>
        <li>
            <label>
                行政区域
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>请选择</option>
                <option>广东省</option>
                <option>江苏省</option>
            </select>
        </li>
        <li>
            <label>
                终端级别
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>请选择</option>
                <option>金</option>
                <option>银</option>
                <option>钻</option>
            </select>
        </li>
        <li>
            <label>
                营销区域
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>请选择</option>
                <option>广东分公司</option>
                <option>江苏分公司</option>
            </select>
        </li>
        <li>
            <label>
                联系电话
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
        </li>
        <li>
            <label>
                传真
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
        </li>
        <li class="orientation">
            <section class="orientation-box">
                <h3>
                    <span>签到定位</span>
                    <i class="red-txt">*</i>
                </h3>
                <div class="cf">
                    <div class="pull-left">
                        <img src="assets/css/image/orientation.png" />
                    </div>
                    <div class="pull-right location-content">
                        <p id="detailAds">广东省广州市天河区体育西路101号</p>
                        <div class="cf">
                            <span class="pull-left">精确到165米</span>
                            <span class="pull-right" id="resetLocation">重新定位</span>
                        </div>
                    </div>
                </div>
            </section>
        </li>
        <li>
            <label>
                备注
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
        </li>
    </ul>
</div>
