<div func="check">
	<section class="picture-box">
		<h3>
			签到拍照
			<i class="red-txt">*</i>
		</h3>
		<div>
			<img src="assets/css/image/addimg.png" />
		</div>
	</section>
	<section class="orientation-box">
		<h3>
			签到定位
			<i class="red-txt">*</i>
		</h3>
		<div class="cf">
			<div class="pull-left">
				<!-- <img src="assets/css/image/orientation.png" /> -->
				<iframe id="baiduMap" style="height:5em;width:5em;" src="assets/script/map.iframe.html" name="baiduMap"></iframe>
				<div class="inline vb">
					<p id="detailAds"></p>
					<p>精确到165米</p>
				</div>
			</div>
			<div class="pull-right" id="reLocation" onclick="window.frames.baiduMap.location.reload()">
				重新定位
			</div>
		</div>
		<div>
			<div class="btn">上班</div>
			<div class="btn">下班</div>
		</div>
	</section>
</div>
