<div func="editterminal" class="addterminal-box">
    <ul>
        <li>
            <label>
                客户名称
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" value="签约二批-终端" />
        </li>
        <li>
            <label>
                联系人
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" value="签约二批-终端" />
        </li>
        <li>
            <label>
                联系电话
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" value="13556578978" />
        </li>
        <li>
            <label>
                地址
                <i class="red-txt">*</i>
            </label>
            <input placeholder="请输入" />
        </li>
        <li>
            <label>
                客户类型
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>餐饮渠道</option>
            </select>
        </li>
        <li>
            <label>
                渠道细分
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>餐饮渠道：中餐馆</option>
            </select>
        </li>
        <li>
            <label>
                客户等级
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>旗舰店</option>
            </select>
        </li>
        <li>
            <label>
                热点区域
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>酒吧街</option>
            </select>
        </li>
        <li>
            <label>
                协议分类
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>投入费用大于等于12罐</option>
            </select>
        </li>
        <li>
            <label>
                区县
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>
                红牛供应商
                <i class="red-txt">*</i>
            </label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>
                vico供应商
            </label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>
                果倍爽供应商
            </label>
            <select>
                <option>请选择</option>
            </select>
        </li>
    </ul>
    <div class="btn">修改</div>
</div>
