<ul class="feature-box" func="featurelist">
    <li>
        <a href="#/view/yzj/salesman/work/check">
            <img src="assets/css/image/check.png" />
            <div>
                <h4>考勤</h4>
                <p>支持拍照上传标识考勤位置信息</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/performance/visit">
            <img src="assets/css/image/visit.png" />
            <div>
                <h4>今日拜访</h4>
                <p>查看今日拜访任务，快速开始工作</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/work/terminal">
            <img src="assets/css/image/search_terminal.png" />
            <div>
                <h4>周边终端查询</h4>
                <p>快速定位周边终端位置，节省寻路时间</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/work/addterminal">
            <img src="assets/css/image/addterminal.png" />
            <div>
                <h4>新增终端</h4>
                <p>有明确合作意向的终端，可以在此录入</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#/view/yzj/salesman/work/myterminal">
            <img src="assets/css/image/myterminal.png" />
            <div>
                <h4>我的终端</h4>
                <p>查看管理的终端</p>
            </div>
        </a>
    </li>
</ul>
<footer class="feature-foot">
    <div>
        <a href="javascript:void(0);" class="work-foot cur">
            <img src="assets/css/image/work_blue.png" />
            <h5>工作</h5>
        </a>
        <a href="#/view/yzj/salesman/performance/performlist">
            <img src="assets/css/image/performance.png" />
            <h5>业绩</h5>
        </a>
    </div>
</footer>
