<div func="myterminal">
    <header>
        <div class="search-wrap">
            <div class="search-box">
                <label><img src="assets/css/image/search.png" /></label>
                <input type="text" placeholder="搜索" />
                <span><img src="" /></span>
            </div>
            <div>
            </div>
        </div>
    </header>
    <ul class="terminal-list">
        <li class="cf">
            <a href="#/view/yzj/salesman/work/editterminal">
                <div class="pull-left">
                    <p>签约二批-终端</p>
                    <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                    <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                </div>
                <div class="pull-right">
                    <p>
                        <span><img src="assets/css/image/location.png" /></span>
                        <span>87m</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="cf">
            <a href="#/view/yzj/salesman/work/editterminal">
                <div class="pull-left">
                    <p>签约二批-终端</p>
                    <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                    <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                </div>
                <div class="pull-right">
                    <p>
                        <span><img src="assets/css/image/location.png" /></span>
                        <span>87m</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="cf">
            <a href="#/view/yzj/salesman/work/editterminal">
                <div class="pull-left">
                    <p>签约二批-终端</p>
                    <p><span><img src="assets/css/image/map_white.png" /></span>暂无地址</p>
                    <p><span><img src="assets/css/image/time.png" /></span>上次拜访时间：2016-03-22</p>
                </div>
                <div class="pull-right">
                    <p>
                        <span><img src="assets/css/image/location.png" /></span>
                        <span>87m</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
