<div class="full" func="terminal">
    <div class="full" id="allmap"></div>
    <div id="terminalDetail" style="display: none;">
        <div class="terminal-info">
            <div>
                <h5>
                	壹加壹便利店
            	</h5>
                <p>
                    广东省天河区体育西路107号
                </p>
                <p>
                    业务员：陈毅成
                </p>
            </div>
        </div>
        <div class="terminal-link flex-center">
            <a href="http://127.0.0.1:8085/#/view/yzj/salesman/work/addterminal">
                详情
            </a>
        </div>
    </div>
</div>
