<!DOCTYPE html>
<html>
    <head>
        <title>测试</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- iPhone私有标签，它表示：允许全屏模式浏览 -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="language" content="zh-CN" data-author="jiansuna" />
        <meta name="format-detection" content="telephone=no; email=no" />
        <!-- 不识别邮件和不把数字识别为电话号码 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- iPhone私有标签，它指定的iPhone中safari顶端的状态条的样式 -->
        <link href="assets/css/global.css" rel="stylesheet" />
        <link href="assets/css/portal.css" rel="stylesheet" />
    </head>
    <body>