<div func="about">
    <header class="about-header">
        <img src="assets/css/image/logo.png" alt="玄讯快消100" />
        <div>
            <h1>玄讯快消100</h1>
            <h2>试用版(有效期: 2016-05-09至2017-05-09)</h2>
        </div>
    </header>
    <section class="about-tel">
        <h3 class="grey">
        如有疑问, 请拨打服务电话
    </h3>
        <div class="cf">
            <div class="pull-left">
                <p>400客服电话</p>
                <p>玄讯官网</p>
            </div>
            <div class="pull-right">
                <p>400-100-0566</p>
                <p>http://xtion.net/</p>
            </div>
        </div>
    </section>
    <section class="about-vip">
        <h3 class="grey">开通付费vip版本</h3>
        <p>
            <span>尊敬的用户,</span>
            <span>想了解更多玄讯快消100产品功能, 请留下您的联系方式, 玄讯的客服专员会尽快和您联系~谢谢!</span>
        </p>
        <div>
            <input type="text" placeholder="请输入手机号码" />
            <div class="btn">提交</div>
        </div>
    </section>
</div>
