<section class="center-box" id="industryBox">
	<div>
		<h3 class="text-center">欢迎体验, 请选择所属行业</h3>
		<a class="btn industry-btn" href="javascript:void(0);" industry="1">饮料</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="2">食品</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="3">酒类</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="4">毛纺</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="5">日化</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="6">医药</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="7">饲料</a>
		<a class="btn industry-btn" href="javascript:void(0);" industry="8">速冻食品</a>
	</div>
</section>