<div func="industry">
    <section class="industry-box" id="industryBox">
        <h3 class="text-center">
        <img src="assets/css/image/industry.png" alt="欢迎体验，请选择所属行业" />
    </h3>
        <div>
            <div class="row">
                <a href="javascript:void(0);" industry="drink">
                    <img src="assets/css/image/drink.png" />
                    <p>饮料</p>
                </a>
                <a href="javascript:void(0);" industry="food">
                    <img src="assets/css/image/food.png" />
                    <p>食品</p>
                </a>
                <a href="javascript:void(0);" industry="wine">
                    <img src="assets/css/image/wine.png" />
                    <p>酒类</p>
                </a>
            </div>
            <div class="row">
                <a href="javascript:void(0);" industry="wollen">
                    <img src="assets/css/image/wollen.png" />
                    <p>毛纺</p>
                </a>
                <a href="javascript:void(0);" industry="darily">
                    <img src="assets/css/image/darily.png" />
                    <p>日化</p>
                </a>
                <a href="javascript:void(0);" industry="medicine">
                    <img src="assets/css/image/medicine.png" />
                    <p>医药</p>
                </a>
            </div>
            <div class="row two">
                <a href="javascript:void(0);" industry="fodder">
                    <img src="assets/css/image/fodder.png" />
                    <p>饲料</p>
                </a>
                <a href="javascript:void(0);" industry="freeze">
                    <img src="assets/css/image/freeze.png" />
                    <p>速冻食品</p>
                </a>
            </div>
        </div>
    </section>
</div>
