<section class="role-box">
    <h3 class="text-center">
		<img src="assets/css/image/role.png" alt="欢迎体验，请选择角色" />
	</h3>
    <a href="#/view/yzj/salesman/work/featurelist" class="blue">
        <img src="assets/css/image/salesman.png" />
        <h4>我是业务员</h4>
        <p>业务员功能包括: 业务统计、考勤、拜访执行、周边终端查询、新增终端、终端管理</p>
    </a>
    <a href="" class="green">
        <img src="assets/css/image/charger.png" />
        <h4>我是主管</h4>
        <p>主管功能包括: 业务统计、协防、业务员考勤查询、业务员位置查询、订单查询、促销查询</p>
    </a>
</section>
