<div class="performlist-box" func="performlist">
    <ul>
        <li>
            <a href="#/view/yzj/charger/performance/salesasync">
                <img src="assets/css/image/charger_perform.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/charger/performance/visitasync">
                <img src="assets/css/image/charger_visit.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/charger/performance/promotionasync">
                <img src="assets/css/image/charger_promotion.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/salesman/performance/terminalactivity">
                <img src="assets/css/image/charger_terminal.png" />
            </a>
        </li>
    </ul>
    <footer>
        <a href="#/view/yzj/charger/work/worklist">
            <img src="assets/css/image/work.png" />
            <h5>工作</h5>
        </a>
        <a href="javascript:void(0);" class="cur">
            <img src="assets/css/image/perform_blue.png" />
            <h5>业绩</h5>
        </a>
    </footer>
</div>
