<center class="performlist-box" func="performlist">
    <ul>
        <li>
            <a href="#/view/yzj/charger/performance/salesasync">
                <img src="assets/css/image/perform_month.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/salesman/performance/visit">
                <img src="assets/css/image/visit_async.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/salesman/performance/mypromotion">
                <img src="assets/css/image/promotion_act.png" />
            </a>
        </li>
        <li>
            <a href="#/view/yzj/salesman/performance/terminalactivity">
                <img src="assets/css/image/terminal_act.png" />
            </a>
        </li>
    </ul>
</center>
<footer class="feature-foot">
    <div>
        <a href="#/view/yzj/salesman/work/featurelist" class="work-foot">
            <img src="assets/css/image/work.png" />
            <h5>工作</h5>
        </a>
        <a href="javascript:void(0);" class="cur">
            <img src="assets/css/image/perform_blue.png" />
            <h5>业绩</h5>
        </a>
    </div>
</footer>
