<div func="salesasync" class="sales-async">
    <section>
        <header>
            <span>
	    		<img src="assets/css/image/salesasync.png" />
	    	</span>
            <span>销量对比</span>
            <!-- <hr /> -->
        </header>
        <main>
            <nav>
                <ul>
                    <li class="cur">按终端</li>
                    <li>按产品</li>
                </ul>
            </nav>
            <p class="select-month">
                <span id="curMonth">10</span>
                <span>月</span>
            </p>
            <div class="chart-box" id="monthSale"></div>
        </main>
    </section>
    <section>
        <header>
            <span>
	    		<img src="assets/css/image/thismonth.png" />
	    	</span>
            <span>年度销量对比</span>
            <!-- <hr /> -->
        </header>
        <main>
            <div class="chart-box" id="yearSale"></div>
        </main>
    </section>
</div>
