<div func="visitasync" class="sales-async visit-async">
    <section>
        <header>
            <span>
                <img src="assets/css/image/today.png" />
            </span>
            <span>今日</span>
            <!-- <hr /> -->
        </header>
        <main>
            <div class="chart-box" id="todaySale"></div>
        </main>
    </section>
    <section>
        <header>
            <span>
                <img src="assets/css/image/thismonth.png" />
            </span>
            <span>本月</span>
            <!-- <hr /> -->
        </header>
        <main>
            <nav>
                <ul>
                    <li class="cur">按人</li>
                    <li>按日</li>
                </ul>
            </nav>
            <div class="chart-box" id="monthSale"></div>
        </main>
    </section>
</div>
